@import url("https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Anek Gurmukhi", sans-serif;
}
@layer base {
  li {
    @apply px-4;
  }
  .active {
    color: #add565 !important;
  }
}
.container {
  @apply mx-auto w-[90%];
}

.my-container {
  overflow-y: auto;
}
/* Scrollbar width */
.my-container::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track */
.my-container::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}


.my-container::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0f9d58, #34a853, #4fc3f7);
  border-radius: 10px;
}
